ingress:
    enabled: true
    annotations: 
      kubernetes.io/ingress.class: traefik
    hosts:
      - prometheus.kbnhvn-project.eu
    path: /
    pathType: Prefix
service:
  enabled: true
  type: ClusterIP
  servicePort: 80

persistentVolume:
  enabled: true
  accessModes:
    - ReadWriteMany

  existingClaim: "prometheus-pv-claim"
  mountPath: /data
  size: 4Gi
  subPath: "/prometheus"